<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<table style="width:100%">
  <tr>
  <td width="6%"><center>Logo</center></td>
  <td width="6%"><center>Login</center></td>
  <td width="8%"><center>Nossos Produtos</center></td>
  <td width="35%"><center>Consultar produto</center></td>
  <td width="15%"><center>cliente, essa oferta é só para você</center></td>
  <td width="10%"><center>Quero mais barato</center></td>
  <td width="10%"><center>Me avise quando chegar</center></td>
  <td width="10%"><center>Meu carrinho de compras</center></td>
  </tr>
</table>
</body>
</html>